****Variables In Python****

-name given to memory location or container for storing values 
-no need to declare types of variable in python

In [3]:
x=5
z=4
name="pooja"
full_name="Pooja Gadekar" #snake case
FullName="Pooja Gadekar" #pascal case
fullName="Pooja Gadekar" #camel case

****Global Variable and Local Variable****

-variable declare outside the function are global variable
-varible declare inside the function are local variable

In [6]:
a=6  #global variable
def read():
    b=3  # local variable
    print(a,b)
read()
print(a)

6 3
6

****Data Types In Python****

In [9]:
# type() function to check the type of data stored in variable
m=5
print(type(m))
fruit="Apple"
print(type(fruit))
isPass=True
print(type(isPass))
n=5.34
print(type(n))

<class 'int'>
<class 'str'>
<class 'bool'>
<class 'float'>

In [17]:
# To specify datatype to variable
name=str("Kavya")
rollNumber=int(6)
isActiveted=bool(True)
price=float((9.50))

****Type Conversion****-Changing one type into another

In [32]:
a=2
print(a)
b=float(a)
print(b)
z=complex(a)
print(z)

2
2.0
(2+0j)

In [28]:
c=4.45
print(c)
d=int(c)
print(c)

4.45
4.45

****Taking Input From User****

In [2]:
fullName=input("Enter your name")
print(type(fullName),fullName)

Enter your name pooja

<class 'str'> pooja

In [6]:
val=input("enter any value:")
print(type(val),val)  # here we are expecting class should be 'int' but it is showing 'str' beacause every input in python is consider as a String hence there is need of type casting

enter any value: 56

<class 'str'> 56

In [8]:
val=int(input("enter any value:"))
print(type(val),val)

enter any value: 23

<class 'int'> 23

In [14]:
# Concatenation of two strings using '+'operator
str1="P99"
str2="SOFT"
print(str1+str2)

P99SOFT

In [18]:
# To check length of string
str2="P99SOFTLONI"
len(str2)

11

In [20]:
# NOTE
# WE CAN JUST ACESS CHARACTERS FROM STRING USING INDEXING CANNOT MODIFYING JUST LIKE STR[1]=T
str="selflearning"
print(str[1])

e

In [22]:
#SLICING
str="motivation"
print(str[0:3])
print(str[4:len(str)])
print(str[-6:-1])

mot
vation
vatio

In [24]:
#string functions
str="I am learning python"
print(str.endswith("python"))
print(str.endswith("pyth"))
print(str.endswith("on"))
# capitalize()   it makes first letter of a string capital
str1="pooja"
print(str1.capitalize())
#replace function
print(str.replace("python","javascript"))
#find function ==> returns the first index
print(str.find("l"))
print(str.find("python"))
print(str.find("z"))
#count ==> return occurrences of that string
print(str.count("i"))
print(str.count("a"))
print(str.count("python"))

True
False
True
Pooja
I am learning javascript
5
14
-1
1
2
1

In [28]:
name=input("enter your name")
print("length of your enterd string is:",len(name))

enter your name rani

length of your enterd string is: 4

In [30]:
#list in python  ====> mutable,square braces,duplicats are alloowed
marks=[89.6,76,75,75,45]
print(marks)
print(marks[1])
marks[0]=90
print(marks)

[89.6, 76, 75, 75, 45]
76
[90, 76, 75, 75, 45]

In [32]:
# list can contain values with different datatype
stud=["pooja",6,"pooja@123"]
print(stud[1])
print(stud[0])
print(stud[2])

6
pooja
pooja@123

In [34]:
#slicing on list
age=[23,45,32,65,12]
print(age[0:2])
print(age[-5:-1])

[23, 45]
[23, 45, 32, 65]

In [36]:
#list methods
list=[2,4,3,6,8,1,9]
print(list)
list.append(11)
print(list)
list.sort()
print(list)
#sortin in desc order
list.sort(reverse=True)
print(list)
#reverse list
list.reverse()
print(list)

[2, 4, 3, 6, 8, 1, 9]
[2, 4, 3, 6, 8, 1, 9, 11]
[1, 2, 3, 4, 6, 8, 9, 11]
[11, 9, 8, 6, 4, 3, 2, 1]
[1, 2, 3, 4, 6, 8, 9, 11]

In [38]:
list1=[2,3,4,1,5]
list1.insert(0,7)
print(list1)
list1.remove(4)    #remove first occurences of element
print(list1)
list1.pop(0)       # remove element at specific index
print(list1)

[7, 2, 3, 4, 1, 5]
[7, 2, 3, 1, 5]
[2, 3, 1, 5]

In [44]:
movies=[]
mov1=input("enter first movie")
mov2=input("enter second movie")
mov3=input("enter third  movie")
movies.append(mov1)
movies.append(mov2)
movies.append(mov3)
print(movies)

enter first movie gajani
enter second movie mission managal
enter third  movie rammaya vastavaiya

['gajani', 'mission managal', 'rammaya vastavaiya']

In [40]:
# tupple in python===> immutable,round braces,duplicates are allowed
tup=(1,2,3,4,5,6,6)
print(type(tup))
print(tup[2])

<class 'tuple'>
3

In [42]:
#tuple methods
print(tup.index(2))
print(tup.count(6))

1
2

In [46]:
grade=("B","A","A","C")
print(grade.count("A"))

2

In [48]:
#dictionary ===> mutable, dulicate keys are not allowed , store key value pair, curley braces, unorderd
dict1={
    "userNames":"pooja",
     "roll no":6,
    "email":"pooja@123",
    "marks":[90,9,91,92,93]
}
print(dict1)

{'userNames': 'pooja', 'roll no': 6, 'email': 'pooja@123', 'marks': [90, 9, 91, 92, 93]}

In [50]:
print(dict1["roll no"])
print(dict1["marks"])

6
[90, 9, 91, 92, 93]

In [52]:
dict1["email"]="pooja@12345"
print(dict1)

{'userNames': 'pooja', 'roll no': 6, 'email': 'pooja@12345', 'marks': [90, 9, 91, 92, 93]}

In [54]:
dict2={
"user":"kiran",
 "marks":{
 "os":95,
 "DL":90
 }
}
print(dict2)
print(dict2["marks"])
print(dict2["marks"]["os"])

{'user': 'kiran', 'marks': {'os': 95, 'DL': 90}}
{'os': 95, 'DL': 90}
95

In [56]:
# dictionary methods
#1) keys()
print(dict2.keys())
print(len(dict2.keys()))
#2) values()
print(dict2.values())
#3)items()
print(dict2.items())
#4) get()
print(dict2.get("user"))
print(dict2["user"])   # this also written same op as above line but diff is that if mistakely we give any wrong key inside this it will written an error and above line will written none

dict_keys(['user', 'marks'])
2
dict_values(['kiran', {'os': 95, 'DL': 90}])
dict_items([('user', 'kiran'), ('marks', {'os': 95, 'DL': 90})])
kiran
kiran

****Set****-Set items are unordered, unchangeable, and do not allow duplicate values.